#contact-banner {
    margin-top: 59px;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../images/contact-banner1.png");
    height: 450px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bg-3 {
    background-color: #d3d3d352;
}

.banner-text {
    top: 26%;
}

.banner-icon {
    width: 17px;
}

form {
    margin-top: 5%;
}

.contact-input {
    display: block;
    width: 70%;
    margin: 3% 0;
    height: 45px;
    /* border-color: lightgrey; */
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 7%;
    font-size: 1.1em;
}

.height-auto {
    height: auto;
}

.height-auto::placeholder {
    padding-top: 2.5%;
    font: 400 1.1em Arial;
}

.btn-submit {
    background-color: #bc0402;
    border: 0;
    color: white;
    width: 13%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
}

.btn-submit:hover {
    background-color: white;
    color: #bc0402;
    border: 3px solid #bc0402;
}

span {
    color: #bc0402;
}

.contact {
    padding-left: 0;
    padding-bottom: 5%;
    margin-left: 5%;
}

.div-space-top {
    padding-top: 5%;
}

.contact p {
    line-height: 1.2em;
    margin: 2px 0;
}

.margin-tb {
    margin: 1.1em 0;
}

h4 {
    font-size: 1.2em;
    margin: 0;
}

.mt {
    margin-top: 25px;
}

.mt:hover {
    transform: scale(1.3);
    transition: .5s;
}

.form-control {
    position: relative;
}

.icon-image,
.icon-image1 {
    position: absolute;
    height: 13px;
    width: 13px;
}

.icon-image {
    top: 33%;
    left: 2%;
}

.icon-image1 {
    top: 15%;
    left: 2%;
}

@media only screen and (max-width:767px) {
    #contact-banner {
        margin-top: 0;
        height: 240px;
        background-size: cover;
    }
    .banner-text {
        top: 6%;
    }
    .col-8 {
        padding: 10% 0;
    }
    .contact-input {
        width: 100%;
        font-size: 1em;
        padding-left: 33px;
    }
    .btn-submit {
        width: 100%;
    }
    .contact {
        padding: 0;
        margin: 0;
    }
    .mt {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .mt:hover {
        transform: scale(1);
        transition: .5s;
    }
    /* .form-control input[type=text]{
		font-size: 1em;
	} */
    .contact-input {
        font-size: 1em;
    }
}

/* tablet  ipad*/
@media only screen and (min-width:768px) and (max-width:1024px) {

    #contact-banner {
        margin-top:0;
        height:360px;
        background-size: cover;
    }

    .banner-text {
        top: 23%;
        left: 23%;
        width: 50%;
    }

    .contact-input {
        width:90%;
    }

    .btn-submit {
        width:fit-content;
        display: block;
    }
}
